body{padding-top:65px;padding-bottom:40px;}
footer{text-align:center;}
h1{margin-bottom:15px;}

.label-blue{background-color:#08c;}
.error{color: #b94a48;}
.obligatoire:after{content:" *";}
.btn-micro {padding:2px 4px;margin:0px 2px}
#rechercheAmi{width:98%;}
#formulaireDAjoutDeCadeau #libelle {width:400px;}

.ordonnable>li{cursor:move;}

.liste{counter-reset:li;margin-left:0;padding-left:0;}
.liste>li:before{content:counter(li);counter-increment:li;position:absolute;top:-1px;left:-2em;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:2em;margin-right:8px;padding:5px;color:#fff;background:#666;font-weight:bold;text-align:center;}
.liste>li{position:relative;margin:0 0 6px 2em;padding:1px 8px;list-style:none;display:block;height:24px;border:1px solid #d3d3d3;background:#e6e6e6 50% 50% repeat-x;font-weight:normal;color:black;}
.liste>li>div>div:first-child{padding-top:3px;padding-bottom:3px;height:18px;overflow:hidden;}
.liste>li>div>div:last-child{vertical-align:top;}
.liste>li div{display:inline-block;}
.liste>li .grand{width:584px;}
.liste>li .petit{width:503px;}

.liste-navigation{margin-left:0;margin-bottom:18px;list-style:none;padding-left:15px;padding-right:15px;margin-bottom:0;}
.liste-navigation .nav-header{display:block;padding:3px 15px;font-size:11px;font-weight:bold;line-height:18px;color:#999999;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);text-transform:uppercase;}
.liste-navigation .nav-header{height:20px;}
.liste-navigation li{color:#0088CC;}
.liste-navigation>li div{display:inline-block;}
.liste-navigation>li>div{height:24px;overflow:hidden;}
.liste-navigation>li>div>div:first-child{padding-top:3px;height:18px;overflow:hidden;}
.liste-navigation>li>div>div:last-child{vertical-align:top;}
.liste-navigation>li>div,.liste-navigation .nav-header{margin-left:-15px;margin-right:-15px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.liste-navigation>li>div{padding:2px 15px;}
.liste-navigation>li>div>div:first-child [class^="icon-"]{margin-right:5px;}
.liste-navigation>li .avec1action{width:235px;}
.liste-navigation>li .avec2actions{width:203px;}

.sidebar-nav{padding:9px 0;}
.navbar-text a{color:#999;text-decoration:none;}
.navbar-text a:hover{color:#ffffff;}
.nav-list>li div{display:inline-block;}
.nav-list>li>a{height:18px;}
.nav-list>li>a>div:first-child{height:18px;width:164px;overflow:hidden;}
.nav-list>li>a>div:last-child{vertical-align:top;}

.alert-ami{padding:3px 15px}
.alert-ami div {padding: 8px 35px 8px 8px;margin: 0px}
.alert-ami a {text-decoration:underline}

