#{extends 'Cadeaux/liste.html' /}

#{set 'titre'}
	Ma liste
#{/set}

#{set 'moreScripts'}
	var urlChangePosition = #{jsAction @Cadeaux.changePosition() /}
	$(function() {
		$( "#cadeaux" ).sortable({
			axis: 'y',
			opacity: 0.6,
			stop: function(event, ui) {
				changePosition(ui.item[0].id, $(ui.item).parent().children().index(ui.item) + 1);
			}
		});
		$( "#cadeaux" ).disableSelection();
	});
	
	var urlChangePosition = #{jsAction @Cadeaux.changePosition() /}
	function changePosition(id, position) {
		$.ajax({
			type: 'PUT',
			url: urlChangePosition(),
			dataType: "json",
			data: {	id: id, position: position},
			error: function( data ) {
				$("#cadeaux").sortable("cancel");
			}
		});
	}
	
	var urlSupprimerCadeau = #{jsAction @Cadeaux.supprime(':id') /}
	function supprimeCadeau(id) {
		$.ajax({
			type: 'DELETE',
			url: urlSupprimerCadeau({id: id}),
			dataType: "json",
			success: function(cadeau) {
				location.reload();
			}
		});
	}
	
	function confirmeSuppressionCadeau(cadeau) {
		ouvrePopupDeConfirmation(
			"Souhaitez-vous supprimer ce cadeau ?", 
			cadeau.parentElement.parentElement.firstChild.nextSibling.textContent,
			"javascript:supprimeCadeau(" + cadeau.parentElement.parentElement.parentElement.id + ");");
	}
#{/set}

<ol id="cadeaux" class="liste ordonnable" />
	#{list utilisateur.cadeaux, as:'cadeau'}
		<li id="${cadeau.id}">
			<div>
				<div class="grand">
					${cadeau.libelle}
				</div>
				<div>
					<a href="#" onClick="javascript:confirmeSuppressionCadeau(this);" class="btn btn-micro" title="J&#39;en veux plus">
						<i class="icon-remove"></i>
					</a>
				</div>
			</div>
		</li>
	#{/list}
</ol>

#{if !utilisateur.cadeaux}
	<div class="alert alert-info">
		<i class="icon-info-sign"></i>&nbsp;Pour <strong>ajouter un cadeau</strong> que vous aimeriez recevoir, utiliser le champ ci-dessous.
	</div>
#{/if}

<br />

#{form @Cadeaux.ajoute(), id:"formulaireDAjoutDeCadeau", class:"form-inline"}
	<input type="text" id="libelle" name="libelle" autofocus="autofocus" />
	<button type="submit" id="ajouter" class="btn btn-primary">&{'action.ajouter'}</button>
#{/form}