#{extends 'connected.html' /}

#{set 'titre'}
	Mes achats
#{/set}

#{set 'moreScripts'}
	#{get 'moreScripts' /}
	$(function() {
		activeMenu("Achats");
	});
#{/set}

<div class="span12">
	<div class="well">
		<h1>Mes achats</h1>
		<table id="amis" class="table table-striped">
			<thead>
		    	<tr>
		      		<th style="text-align:left;">Surnom</th>
		      		<th style="text-align:left;">Cadeau</th>
		      		<th style="text-align:right;">Montant</th>
		    	</tr>
		  	</thead>
		  	<tbody>
	  		#{list utilisateur.achats, as:'achat'}
		    	<tr>
		      		<td>${achat.pour}</td>
		      		<td>${achat.cadeau}</td>
		      		<td style="text-align:right;">${achat.montant ? achat.montant.enEuros() : ""}</td>
		      		<td>#{a @Achats.affiche(achat.id)}Modifier#{/a}</td>
		      		<td>#{a @Achats.supprime(achat.id)}Supprimer#{/a}</td>
		    	</tr>
	  		#{/list}
		  	</tbody>
			<tfoot>
		     	<tr>
		     		<td>#{a @Achats.nouveau()}Ajouter un achat#{/a}</td>
		     		
		     		<td style="text-align:right;font-weight:bold;">Total</td>
		     		<td style="text-align:right;font-weight:bold;">${utilisateur.montantTotalDesAchats.enEuros()}</td>
		     	</tr>
			</tfoot>
		</table>
	</div>	
</div>