#{extends 'connected.html' /}

#{set 'titre'}
	Mes achats
#{/set}

#{set 'moreScripts'}
	#{get 'moreScripts' /}
	$(function() {
		activeMenu("Achats");
	});
	
	var urlSupprimeAchat = #{jsAction @Achats.supprime(':id') /}
	function supprimeAchat(id) {
		$.ajax({
			type: 'DELETE',
			url: urlSupprimeAchat({id: id}),
			dataType: "json",
			success: function(data) {
				location.reload();
			}
		});
	}
#{/set}

<div class="span12">
	<div class="well">
		<h1>Mes achats</h1>
		<table id="amis" class="table table-striped">
			<thead>
		    	<tr>
		      		<th style="text-align:left;">Surnom</th>
		      		<th style="text-align:left;">Cadeau</th>
		      		<th style="text-align:right;">Montant</th>
		      		<th style="text-align:right;"></th>
		    	</tr>
		  	</thead>
		  	<tbody>
	  		#{list utilisateur.achats, as:'achat'}
		    	<tr>
		      		<td style="vertical-align:middle;">${achat.pour}</td>
		      		<td style="vertical-align:middle;">${achat.cadeau}</td>
		      		<td style="text-align:right;vertical-align:middle;">${achat.montant ? achat.montant.enEuros() : ""}</td>
		      		<td style="width:80px;text-align:right;">
		      			<a href="@{Achats.affiche(achat.id)}" class="btn btn-micro" title="Modifier">
							<i class="icon-edit"></i>
						</a>
		      			<a href="javascript:supprimeAchat(${achat.id});" class="btn btn-micro" title="Supprimer">
		      				<i class="icon-remove"></i>
		      			</a>
					</td>
		    	</tr>
	  		#{/list}
		  	</tbody>
			<tfoot>
		     	<tr>
		     		<td>
		     			<a href="@{Achats.nouveau()}" class="btn btn-primary">&{'action.ajouter'}</a>
		     		</td>
		     		<td style="text-align:right;font-weight:bold;vertical-align:middle;">Total</td>
		     		<td style="text-align:right;font-weight:bold;vertical-align:middle;">${utilisateur.montantTotalDesAchats.enEuros()}</td>
		     		<td></td>
		     	</tr>
			</tfoot>
		</table>
	</div>	
</div>