#{extends 'connected.html' /}

#{set 'titre'}
	Mes achats
#{/set}

#{set 'moreScripts'}
	#{get 'moreScripts' /}
	$(function() {
		activeMenu("Achats");
		
		$('#boutonAnnuler').click(function() {
			window.location = '@{Achats.mesAchats()}';
		});
	});
#{/set}

<div class="span12">
	<div class="well">
		<h1>Mes achats</h1>
		#{form @Achats.ajoute()}
			#{field 'achat.pour'}
				<div class="control-group ${field.error ? 'error' : ''}">
			    	<label for="${field.name}" class="control-label obligatoire">&{field.name}</label>
			    	<div class="controls">
			      		<input type="text" name="${field.name}" id="${field.name}" value="${flash[field.name]}" autofocus="autofocus" />
			      		<span class="help-inline">${field.error}</span>
			    	</div>
			  	</div>
			#{/}
			
			#{field 'achat.cadeau'}
				<div class="control-group ${field.error ? 'error' : ''}">
			    	<label for="${field.name}" class="control-label obligatoire">&{field.name}</label>
			    	<div class="controls">
			      		<input type="text" name="${field.name}" id="${field.name}" value="${flash[field.name]}" />
			      		<span class="help-inline">${field.error}</span>
			    	</div>
			  	</div>
			#{/}
			
			#{field 'achat.montant'}
				<div class="control-group ${field.error ? 'error' : ''}">
			    	<label for="${field.name}" class="control-label">&{field.name}</label>
			    	<div class="controls">
			      		<input type="text" name="${field.name}" id="${field.name}" value="${flash[field.name]}" />
			      		<span class="help-inline">${field.error}</span>
			    	</div>
			  	</div>
			#{/}
		
			<p>
				<button type="submit" id="boutonCreer" class="btn btn-primary">&{'action.creer'}</button>
				<button type="button" id="boutonAnnuler" class="btn">&{'action.annuler'}</button>
			</p>
		#{/form}
	</div>
</div>