#{extends 'connected.html' /}

#{set 'titre'}
	Mes achats
#{/set}

#{set 'moreScripts'}
	#{get 'moreScripts' /}

	var urlListeDAmis = #{jsAction @Amis.ayant(':surnom') /}
	$(function() {
		activeMenu("Achats");
		
		$('#boutonAnnuler').click(function() {
			window.location = '@{Achats.mesAchats()}';
		});
		$('#pour').click(function() {
			$("#achat\\.pour").autocomplete( "search", "*");
		});
		$("#achat\\.pour").autocomplete({
			source: function( request, response ) {
				$.get(urlListeDAmis({surnom:request.term}), 
				function( data ) {
					response( $.map( data, function( item ) {
						return { label: item.surnom, id: item.id }
					}));
				}, "json");
			},
			select: function(event, ui) {
				$("#achat\\.cadeau").focus();
			}
		});
	});
#{/set}

<div class="span12">
	<div class="well">
		<h1>Ajout d'un achat</h1>
		#{form @Achats.ajoute()}
			#{field 'achat.pour'}
			
			
				<div class="control-group ${field.error ? 'error' : ''}">
			    	<label for="${field.name}" class="control-label obligatoire">&{field.name}</label>
			    	<div class="controls">
						<div class="input-append">
						  	<input type="text" id="${field.name}" name="${field.name}" value="${flash[field.name]}" autofocus="autofocus" /><button id="pour" class="btn" type="button">
						  		<i class="icon-chevron-down"></i>
						  	</button>
						</div>

			      		
			      		<span class="help-inline">${field.error}</span>
			    	</div>
			  	</div>
			#{/}
			
			#{field 'achat.cadeau'}
				<div class="control-group ${field.error ? 'error' : ''}">
			    	<label for="${field.name}" class="control-label obligatoire">&{field.name}</label>
			    	<div class="controls">
			      		<input type="text" name="${field.name}" id="${field.name}" value="${flash[field.name]}" />
			      		<span class="help-inline">${field.error}</span>
			    	</div>
			  	</div>
			#{/}
			
			#{field 'achat.montant'}
				<div class="control-group ${field.error ? 'error' : ''}">
			    	<label for="${field.name}" class="control-label">&{field.name}</label>
			    	<div class="controls">
			      		<input type="text" name="${field.name}" id="${field.name}" value="${flash[field.name]}" />
			      		<span class="help-inline">${field.error}</span>
			    	</div>
			  	</div>
			#{/}
		
			<p>
				<button type="submit" id="boutonCreer" class="btn btn-primary">&{'action.creer'}</button>
				<button type="button" id="boutonAnnuler" class="btn">&{'action.annuler'}</button>
			</p>
		#{/form}
	</div>
</div>