#{extends 'main.html' /}

#{set 'menus'}
	<ul class="nav">
  		<li id="menuCadeaux">#{a @Cadeaux.maListe()}Mes listes#{/a}</li>
  		<li id="menuAchats">#{a @Achats.mesAchats()}Mes achats#{/a}</li>
  		<li id="menuAmis">
  			#{a @Amis.mesAmis()}
  				Mes amis
  				#{if utilisateur.nombreDInvitationsRecues > 0}
  					&nbsp;<span id="nombreDInvitationsRecues" class="label label-warning">&{utilisateur.nombreDInvitationsRecues}</span>
  				#{/if}
  			#{/a}
  		</li>
	</ul>
#{/set}

#{set 'options'}
	<ul class="nav pull-right">
		<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        		${utilisateur.surnom} <b class="caret"></b>
        	</a>
          	<ul class="dropdown-menu">
            	<li><a href="@{Securite.deconnexion()}">&{'action.seDeconnecter'}</a></li>
          </ul>
        </li>
	</ul>
#{/set}

#{set 'moreScripts'}
	#{get 'moreScripts' /}
	function activeMenu(idMenu) {
		$("#menu" + idMenu).addClass("active");
	}
#{/set}				

#{ifErrors}	
	<div class="row-fluid">
		<div class="alert">
			<button class="close" data-dismiss="alert">×</button>
			#{errors}
			    <li><strong>Erreur !!! </strong> ${error}.</li>
			#{/errors}
		</div>
	</div>	
#{/ifErrors}

<div class="row-fluid">
	#{doLayout /}
</div>